
Уважаемый {{$username}},
	Недавно {{$sitename}}  был получен запрос на сброс пароля вашей 
учётной записи. Для подтверждения этого запроса, пожалуйста перейдите по ссылке
проверки ниже или вставьте его в адресную строку вашего браузера. 

Если вы НЕ запрашивали это измнение, пожалуйста НЕ используйте предоставленную
ссылку и игнорируйте и / или удалите это письмо. 

Ваш пароль не будет изменён до тех пор,  пока мы не сможем убедиться что именно 
вами создан запрос. 

Проследуйте по ссылке для подтверждения вашей личности:

{{$reset_link}}

После этого вы получите email содержащий новый пароль.

Вы можете изменить этот пароль в вашей учётной записи после входа.

Подробности логина:

Расположение сайта: {{$siteurl}}
Имя для входа: {{$email}}




С уважением,
	администрация {{$sitename}}

--
Условия использования сервиса:
{{$siteurl}}/help/TermsOfService
 