
Дорогой {{$username}},
	Ваш пароль был изменен, как вы и просили. Пожалуйста, сохраните эту 
информацию в ваших записях (или смените свой пароль на такой 
который вы точно не забудете).


Детали учетной записи:

Адрес сайта:	{{$siteurl}}
Имя Пользователя:	{{$email}}
Пароль:	{{$new_password}}

Вы можете сменить этот пароль в настройках учетной записи после того, как войдете в систему.


С уважением,
	администрация {{$sitename}}

 

--
Условия предоставления услуг:
{{$siteurl}}/help/TermsOfService
